<p>Episode :#<%=@episode.number %></p>
<p>Episode Date :<%= @episode.date %></p>
<ul>
  <% @episode.guests.each do |guest| %>
    <li>Guest name <%= guest.name %></li>
  <% end %>
</ul>

<%= link_to "All episodes", episodes_path(@episodes) %>
<%= link_to "All guests", guests_path(@guests) %>
<%= link_to "Create a new appearance", new_appearance_path(@appearance) %>