<h3>Create a new appearance</h3>

<%= form_for @appearance do |f| %>
  <%= f.label :guest_id %>
  <%= f.collection_select(:guest_id, @guests, :id, :name) %>
  <br>
  <%= f.label :episode_id %>
  <%= f.collection_select(:episode_id, @episodes, :id, :number) %>
  <br>
  <%= f.label :rating %>
  <%= f.number_field :rating, max: 5 %>
  <%= f.submit %>
<% end %>

<%= link_to "All episodes", episodes_path(@episodes) %>
<%= link_to "All guests", guests_path(@guests) %>